/* ====== ✅ Variables ====== */

$transition: all 0.3s ease-in-out;
$lh-30: 30px;
// Colors
:root {
    --white: #ffffff;
    --light: #eceef3;
    --gray: #bec1cd;
    --dark-gray: #8e94aa;
    --dark: #2e2e2e;
    --primary: #0f3c66;
    --secondary: #f7941d;
    --light-primary: #30c0ff;
}

// Font Family
:root {
    --font: "Cairo", sans-serif;
}

// Font Sizes
:root {
    @each $size, $value in (xs: 10px, sm: 12px, rg: 14px, md: 16px, lg: 18px, xl: 24px, xxl: 48px) {
        --fs-#{$size}: #{$value};
    }
}

// Spacing
:root {
    @each $size, $value in (md: 25px, lg: 50px, xl: 100px) {
        --space-#{$size}: #{$value};
    }
}

/* ====== ✅ Typography Utilities ====== */

$font-weights: (
    rg: 400,
    md: 500,
    sb: 600,
    bd: 700
);
@each $name, $weight in $font-weights {
    .fw-#{$name} {
        font-family: var(--font);
        font-weight: #{$weight};
    }
}

@each $size in xs, sm, rg, md, lg, xl, xxl {
    .fs-#{$size} {
        font-size: var(--fs-#{$size}) !important;
    }
}

/* ====== ✅ Color Utilities ====== */

@each $name in white, light, gray, dark-gray, dark, primary, secondary, light-primary {
    .text-#{$name}-color {
        color: var(--#{$name});
        &__hover:hover {
            color: var(--#{$name});
        }
    }
    .bg-#{$name}-color {
        background-color: var(--#{$name});
        &__hover:hover {
            background-color: var(--#{$name});
        }
    }
}

.img-secondary-color__hover {
    transition: $transition;
}

.img-secondary-color__hover:hover {
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(5deg);
}

*:hover > .img-secondary-color__hover {
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(5deg);
}

/* ====== ✅ Spacing Utilities ====== */

@each $size in md, lg, xl {
    .m-#{$size} {
        margin: var(--space-#{$size});
    }
    .my-#{$size} {
        margin-top: var(--space-#{$size});
        margin-bottom: var(--space-#{$size});
    }
    .mt-#{$size} {
        margin-top: var(--space-#{$size});
    }
    .mb-#{$size} {
        margin-bottom: var(--space-#{$size});
    }
    .mx-#{$size} {
        margin-left: var(--space-#{$size});
        margin-right: var(--space-#{$size});
    }
    .ml-#{$size} {
        margin-left: var(--space-#{$size});
    }
    .mr-#{$size} {
        margin-right: var(--space-#{$size});
    }
    .p-#{$size} {
        padding: var(--space-#{$size});
    }
    .py-#{$size} {
        padding-top: var(--space-#{$size});
        padding-bottom: var(--space-#{$size});
    }
    .pt-#{$size} {
        padding-top: var(--space-#{$size});
    }
    .pb-#{$size} {
        padding-bottom: var(--space-#{$size});
    }
    .px-#{$size} {
        padding-left: var(--space-#{$size});
        padding-right: var(--space-#{$size});
    }
    .pl-#{$size} {
        padding-left: var(--space-#{$size});
    }
    .pr-#{$size} {
        padding-right: var(--space-#{$size});
    }
}

/* ====== ✅ Buttons ====== */

button,
.btn {
    transition: $transition;
    -webkit-transition: $transition;
}

.btn-md {
    padding: 0.925rem 1.45rem;
    min-width: 156px;
}

.btn-lg {
    padding: 1.25rem 1.45rem;
}

$button-colors: (
    white: var(--white),
    primary: var(--primary),
    secondary: var(--secondary),
    gray: var(--gray),
    dark: var(--dark)
);
@each $name, $color in $button-colors {
    .btn-border-#{$name}-color {
        border: 1px solid #{$color};
        color: #{$color};
        transition: $transition;
        &:hover,
        &:focus,
        &:active {
            border-color: if($name==white, var(--white), if($name==primary, var(--secondary), var(--primary)));
            background-color: if($name==white, var(--white), transparent);
            color: if($name==white, var(--primary), if($name==primary, var(--secondary), var(--primary)));
        }
    }
}

.btn-secondary-color {
    background-color: var(--secondary);
    color: var(--white);
    &:hover {
        background-color: var(--primary);
        color: var(--white);
    }
}

.btn-primary-color {
    background-color: var(--primary);
    color: var(--white);
    &:hover {
        background-color: var(--secondary);
        color: var(--white);
    }
}

/* ====== ✅ Main Button Animation Styles ====== */

.main-btn {
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 20px;
    min-width: 200px;
    background: transparent;
    border: none;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    font-weight: 700;
    transition: $transition;
    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -2;
        path {
            stroke: currentColor;
            fill: none;
            stroke-width: 1;
        }
    }
    span {
        position: relative;
        z-index: 2;
    }
    &::before {
        content: "";
        position: absolute;
        top: -200%;
        left: -200%;
        width: 500%;
        height: 500%;
        background-color: transparent;
        transform: rotate(45deg) scale(0);
        transition:
            transform 0.3s ease-in-out,
            background-color 0.3s ease-in-out;
        z-index: 1;
    }
    &:hover::before {
        transform: rotate(45deg) scale(1);
    }
}

.main-btn-sm {
    min-width: 120px;
    padding: 10px;
    span {
        font-size: var(--fs-rg) !important;
    }
}

.main-btn--white {
    color: var(--white);
    &:hover {
        color: var(--primary);
        svg {
            color: var(--white);
        }
        &::before {
            background-color: var(--white);
        }
    }
}

.main-btn--secondary {
    color: var(--secondary);
    &:hover {
        color: var(--white);
        svg {
            color: var(--secondary);
        }
        &::before {
            background-color: var(--secondary);
        }
    }
}

.main-btn--primary {
    color: var(--primary);
    &:hover {
        color: var(--white);
        svg {
            color: var(--primary);
        }
        &::before {
            background-color: var(--primary);
        }
    }
}

.main-btn--gray {
    color: var(--dark);
    svg path {
        stroke: var(--gray);
    }
    &:hover {
        color: var(--white);
        &::before {
            background-color: var(--gray);
        }
    }
}

/* ====== ✅ Forms ====== */

.form-control {
    &:focus {
        box-shadow: none;
        &::placeholder {
            opacity: 0;
        }
    }
}

.form-control-md {
    padding: 0.925rem 1.45rem;
}

.form-control-lg {
    padding: 1.25rem 1.45rem;
}

.form-control-white {
    color: var(--white);
    &::placeholder {
        color: var(--white);
    }
    &:focus {
        color: var(--white);
    }
}

.form-control-light {
    background-color: var(--light);
    border-color: transparent;
    color: var(--primary);
    &::placeholder {
        color: var(--primary);
    }
    &:focus {
        background-color: var(--light);
        color: var(--primary);
        border-color: transparent;
    }
}

.main-form-control {
    position: relative;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        path {
            stroke: #bfbfbf;
            fill: none;
            stroke-width: 1;
        }
    }
    .form-control {
        position: relative;
        background-color: transparent;
        box-shadow: none;
        border: 0;
        border-radius: 0;
    }
}

/* ====== ✅ Tables ====== */

.table-light-color > tbody > tr > td {
    background-color: var(--light);
    border-color: rgba($color: #0f3c66, $alpha: 0.2);
    color: var(--primary);
    padding: 15px 25px;
}

.table-dark-color {
    thead tr td,
    thead tr th {
        background-color: var(--primary);
        color: var(--white);
        font-size: var(--fs-xl);
        padding: 1rem 1.75rem;
        border-color: transparent;
    }
    tbody tr td,
    tbody tr th {
        background-color: var(--light);
        color: var(--primary);
        font-size: var(--fs-lg);
        padding: 1rem 1.75rem;
        border-color: var(--gray);
    }
}

.table-dark-color-bordered {
    thead tr td,
    thead tr th {
        background-color: var(--primary);
        color: var(--white);
        font-size: var(--fs-md);
        padding: 1rem 1.75rem;
        border-color: var(--dark-gray);
    }
    tbody tr td,
    tbody tr th {
        background-color: var(--light);
        color: var(--primary);
        font-size: var(--fs-md);
        padding: 1rem 1.75rem;
        border-color: var(--gray);
    }
}

.table-striped > tbody > tr > td,
.table-striped > tbody > tr > th {
    padding: 1rem 1.75rem;
    color: var(--primary);
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: var(--light);
    --bs-table-bg-type: var(--light);
}

.table.table-bordered-dark {
    td,
    th,
    tr {
        border-color: var(--dark);
    }
}

.table tbody > tr > td,
.table tbody > tr > th,
.table thead > tr > td,
.table thead > tr > th {
    padding: 1rem 1.75rem;
}

.table-size-md {
    thead tr td,
    thead tr th {
        font-size: var(--fs-md);
    }
}

/* ====== ✅ Accordion ====== */

.accordion {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.accordion-item {
    border: 1px solid var(--light);

    border-radius: 0 !important;
    background-color: var(--white);
}

.accordion-item:not(:first-of-type) {
    border-top: 1px solid var(--light);
}

.accordion-button {
    border-radius: 0 !important;
    font-size: var(--fs-lg);
    color: var(--dark);
    padding-top: 25px;
    padding-bottom: 25px;
}

.accordion-button:not(.collapsed) {
    background-color: var(--light);
    border-color: var(--light);
    color: var(--dark);
}

/* ====== ✅ Nav Tabs ====== */

.nav-tabs.nav-tabs-1 {
    border-color: var(--gray);
    .nav-item {
        flex: 1;
    }
    .nav-link {
        color: var(--gray);
        border: 0;
        border-radius: 0;
        font-size: var(--fs-xl);
        width: 100%;
        padding-top: var(--space-md);
        padding-bottom: var(--space-md);
        font-weight: 700;
        height: 100%;
        &.active,
        &:hover {
            background-color: var(--primary);
            color: var(--white);
        }
    }
}

.nav-tabs-2 {
    padding-bottom: var(--space-lg);
    border-color: var(--gray);
    .nav-link {
        border: 0;
        color: var(--dark);
        min-width: 150px;
        &.active,
        &:hover {
            color: var(--white);
            &::before {
                background-color: var(--gray);
                transform: rotate(45deg) scale(1);
            }
        }
    }
}

/* ====== ✅ Hover Animations ====== */

.flip-x-hover,
.zoom-in-hover,
.rotate-y-hover,
.brightness-invert-hover {
    .hover-target {
        -webkit-transition: $transition;
        transition: $transition;
    }
}

.flip-x-hover:hover .hover-target,
.flip-x-hover:focus .hover-target {
    transform: scaleX(-1);
}

.zoom-in-hover:hover .hover-target,
.zoom-in-hover:focus .hover-target {
    transform: scale(1.1);
}

.rotate-y-hover:hover .hover-target,
.rotate-y-hover:focus .hover-target {
    transform: rotate(180deg);
}

.brightness-invert-hover:hover .hover-target,
.brightness-invert-hover:focus .hover-target {
    filter: brightness(0) invert(1);
}

/* ====== ✅ Base Styles ====== */

body {
    font-family: var(--font);
    color: var(--primary);
}

a {
    text-decoration: none;
    color: var(--primary);
    transition: $transition;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--font);
    font-weight: 700;
}

h1,
.h1 {
    font-size: var(--fs-xxl);
}

h2,
.h2 {
    font-size: var(--fs-xl);
}

h5,
.h5 {
    font-size: var(--fs-lg);
}

h6,
.h6 {
    font-size: var(--fs-md);
}

.lh-30 {
    line-height: $lh-30;
}

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.fs-36 {
    font-size: 36px;
}

/* ====== ✅ Borders ====== */

.border-color {
    border-color: #bfbfbf !important;
}

.border-white-color {
    border-color: var(--white) !important;
}

.border-primary-color {
    border-color: var(--primary) !important;
}

.border-secondary-color {
    border-color: var(--secondary) !important;
}

.border-gray-color {
    border-color: var(--gray);
}

/* ====== ✅ Dropdowns ====== */

.dropdown-menu {
    border-color: var(--light);
    border-radius: 0;
}

.dropdown-item {
    padding-top: 12px;
    padding-bottom: 12px;
    color: var(--primary);
    &:focus,
    &:active {
        background-color: var(--light);
        color: var(--primary);
    }
}

.submenu {
    border-top: 1px solid var(--light);
    .submenu-card {
        position: relative;
        img {
            height: fit-content;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 30%;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #000000b4);
            z-index: 1;
        }
    }
    .submenu-title {
        padding: 20px 0;
        margin: 0;
        display: block;
    }
    .submenu-list {
        border-top: 2px solid var(--light);
        padding-top: 20px;
        &:not(:last-child) {
            padding-bottom: 40px;
            border-bottom: 2px solid var(--light);
        }
        a:hover {
            color: var(--secondary);
        }
    }
}

/* ====== ✅ Bredcrumbs ====== */

.breadcrumb {
    align-items: center;
}

.breadcrumb-item.active,
.breadcrumb-item > a {
    color: var(--secondary);
}

.breadcrumb-item > a:hover {
    color: var(--primary);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--secondary);
    content: ">";
}

/* ====== ✅ Modals ====== */

.modal-fullscreen {
    min-width: 100%;
}

.search-modal {
    background-color: #efefe8;
    .modal-content {
        background-color: #efefe8;
        min-height: 100%;
        height: auto;
    }
    .modal-header {
        background-color: var(--primary);
        padding-top: var(--space-lg);
        padding-bottom: var(--space-lg);
        flex-direction: column;
        align-items: normal;
        padding-left: 80px;
        padding-right: 80px;
    }
    .modal-title {
        color: var(--secondary);
        font-size: var(--fs-xxl);
    }
    .modal-body {
        padding-top: var(--space-xl);
        padding-bottom: var(--space-xl);
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 0;
    }
}

.modal-backdrop {
    min-width: 100%;
    min-height: 100%;
}

.modal-backdrop.show {
    opacity: 0.9;
}

.employee-modal {
    .modal-content {
        background-color: transparent;
    }
    .modal-body {
        background-color: var(--white);
    }
}

/* ====== ✅ Offcanvas ====== */

.offcanvas-backdrop {
    background: var(--primary);
}

.offcanvas-backdrop.show {
    opacity: 0.8;
}

.offcanvas.menu-offcanvas {
    .offcanvas-header {
        border-bottom: 1px solid var(--gray);
    }
    .btn-close {
        -webkit-transform: translateX(65px);
        transform: translateX(65px);
        position: absolute;
        right: 0;
    }
    .offcanvas-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--fs-lg);
        border-bottom: 1px solid var(--light);
        padding: 20px 12px;
        font-weight: 700;
        &:hover,
        &:focus,
        &.active {
            color: var(--secondary);
        }
    }
    .dropdown-menu {
        position: static !important;
        transform: none !important;
        border-bottom: 1px solid var(--gray);
    }
}

.btn-close {
    background-image: none;
    width: auto;
    height: auto;
    opacity: 1;
    color: #fff9d1;
    &:hover {
        color: #fff9d1;
    }
}

/* ====== ✅ Header ====== */

.top-start {
    a {
        position: relative;
        font-weight: 600;
        &::after {
            content: "";
            width: 20px;
            height: 3px;
            background-color: var(--secondary);
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            margin: 0 auto;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: $transition;
            transition: $transition;
        }
        &:hover {
            font-weight: 700;
            &::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.navbar {
    box-shadow: 2px 2px 7px rgba($color: #000000, $alpha: 0.25);
    background-color: var(--white);
    .nav-link {
        font-weight: 700;
        text-align: center;
        color: var(--primary);
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        &::after {
            content: "";
            width: 20px;
            height: 3px;
            background-color: var(--secondary);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: $transition;
            transition: $transition;
        }
        &:hover {
            &::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .navbar-brand {
        margin: 0;
    }
    .navbar-toggler {
        border: 0;
        padding: 0;
        &:focus {
            box-shadow: none;
        }
    }
}

/* ====== ✅ Footer ====== */

footer {
    background-color: var(--primary);
    color: var(--white);
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        background-image: url("../media/--footer/footer-bg.png");
        background-size: 281px 256px;
        width: 280px;
        height: 256px;
        z-index: -1;
        transform: scaleX(-1);
    }
    .footer--title {
        color: var(--secondary);
        margin-bottom: 20px;
    }
    .form-control {
        background-color: rgba($color: #e6f3ff, $alpha: 0.2);
        border: 0;
        border-radius: 0;
        color: var(--white);
        min-height: 45px;
        &:focus {
            background-color: rgba($color: #e6f3ff, $alpha: 0.2);
            color: var(--white);
        }
    }
    a {
        color: var(--white);
        font-size: var(--fs-rg);
        &:hover {
            color: var(--secondary);
        }
    }
    .footer--section:not(:last-child) {
        border-right: 1px solid #bfbfbf;
    }
    .hotline {
        font-size: 36px;
        font-weight: 700;
        display: inline-flex;
        .icon {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--light);
        }
    }
    .copyrights {
        padding-top: 30px;
        margin-top: 60px;
        border-top: 1px solid rgba($color: #bfbfbf, $alpha: 0.5);
    }
}

footer .iti__country-list {
    background-color: #3a6185;
}

footer .iti__country-name,
footer .iti__dial-code,
footer .iti__flag-box {
    color: var(--white);
}

footer .iti__selected-flag::before {
    background-color: #fff9d1;
}

footer .iti__arrow {
    background-image: url("../media/--icons/arrow-down.svg");
}

/* ====== ✅ Plugins ====== */

.iti__country-list {
    border: 0;
}

.iti--allow-dropdown input,
.iti--allow-dropdown input[type="tel"],
.iti--allow-dropdown input[type="text"],
.iti--separate-dial-code input,
.iti--separate-dial-code input[type="tel"],
.iti--separate-dial-code input[type="text"] {
    padding-right: 6px;
    padding-left: 110px;
}

.iti--separate-dial-code .iti__selected-flag,
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
    background-color: transparent;
}

.iti__flag-box,
.iti--separate-dial-code .iti__selected-dial-code {
    margin-left: 6px;
    margin-right: 6px;
}

.iti__selected-flag {
    &::before {
        content: "";
        right: 0;
        position: absolute;
        width: 1px;
        height: 25px;
        background-color: var(--gray);
    }
}

.iti__arrow {
    background-image: url("../media/--icons/arrow-down-dark.svg");
    background-repeat: no-repeat;
    background-size: 10px 14px;
    border: 0;
    width: 10px;
    height: 14px;
}

.ui.slider .inner .thumb {
    width: 18px;
    height: 18px;
    border-radius: 0;
    transform: rotate(45deg);
}

.ui.slider .inner .track-fill {
    background-color: rgba($color: #56adff, $alpha: 0.5);
}

.ui.reversed.slider:not(.vertical) .inner .thumb {
    background-color: #56adff;
    box-shadow: 0 0 4px rgba($color: #56adff, $alpha: 0.5);
}

[data-tooltip][data-variation~="small"]::after,
[data-tooltip][data-variation~="small"]::before {
    transform: translateX(-50%) scale(0.8) rotate(-45deg);
    background-color: transparent;
}

[data-tooltip]:not([data-position]):hover::after,
[data-tooltip][data-position="bottom center"]:hover::after,
[data-tooltip][data-position="top center"]:hover::after {
    transform: translateX(-50%) scale(0.8) rotate(-45deg);
    background-color: transparent;
}

[data-position="top center"][data-tooltip]::before,
[data-tooltip]:not([data-position])::before {
    content: none;
}

[data-tooltip]::after {
    box-shadow: none;
    border: 0;
}

.SumoSelect {
    width: 100%;
}

.SelectClass,
.SumoUnder {
    position: absolute !important;
}

.SumoSelect.open > .CaptionCont,
.SumoSelect:focus > .CaptionCont,
.SumoSelect:hover > .CaptionCont {
    border: 0;
    box-shadow: none;
}

.SumoSelect > .optWrapper > .options {
    color: var(--dark);
}

.SumoSelect.open > .optWrapper {
    top: 100%;
}

.SumoSelect > .optWrapper > .options li.opt:hover {
    background-color: var(--primary);
    color: var(--white);
}

.SumoSelect > .CaptionCont > label > i {
    background-image: none;
    font-style: normal;
    &::before {
        content: "\f078";
        font-family: "Font Awesome 6 Free";
        font-weight: 700;
        font-size: 12px;
        display: block;
    }
}

.SumoSelect > .optWrapper > .options li.opt {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ====== ✅ Slick Carousel ====== */

.slick--center {
    .slick-list {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.slick--flex .slick-slide:not(:last-child) {
    margin-right: 20px;
}

.slick-dots {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0;
    padding: 0;
    li {
        width: 2px;
        height: 25.42px;
        background-color: #bfbfbf;
        transform: rotate(45deg);
        cursor: pointer;
        &.slick-active {
            background-color: var(--secondary);
        }
        button {
            display: none;
        }
    }
}

.slick-dots--white {
    li {
        background-color: var(--white);
        &.slick-active {
            background-color: var(--secondary);
        }
    }
}

.slick--news,
.slick--events {
    .slick-dots {
        justify-content: center;
        margin-top: var(--space-lg);
    }
}

.slick-arrows--events {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 112px;
    height: 112px;
    z-index: 1;
    transform: translate(-55px, -55px);
    &::before {
        transform: rotate(45deg);
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--primary);
        z-index: -1;
    }
    .slick-arrow {
        border: 0;
        background-color: transparent;
        padding: 0 35px;
        color: var(--white);
        &:hover {
            color: var(--secondary);
        }
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 1px;
        height: 44px;
        background-color: var(--gray);
    }
}

/* ====== ✅ Custom Utilities ====== */

.section-title {
    .icon {
        position: absolute;
        right: -20px;
        top: -20px;
    }
}

.shadow {
    box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.16) !important;
}

.hero--section {
    position: relative;
    .item {
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 80vh;
        color: var(--white);
        padding: 80px 0 250px;
        z-index: 1;
        display: flex;
        align-items: center;
        &::before {
            background-image: url("../media/--hero/bg.webp");
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            content: "";
            z-index: -1;
        }
    }
    .slick--controls {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
        .slick-arrows {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 111px;
            height: 111px;
            z-index: 1;
            &::before {
                transform: rotate(45deg);
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                background-color: var(--light);
                z-index: -1;
            }
            .slick-arrow {
                border: 0;
                background-color: transparent;
                padding: 0 35px;
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 1px;
                height: 44px;
                background-color: #bfbfbf;
            }
        }
        .hero--hotline {
            width: 70px;
            height: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--white);
            font-size: var(--fs-sm);
        }
    }
}

.hero--item {
    max-width: 568px;
    .hero-item--title {
        margin-bottom: var(--space-lg);
        overflow: hidden;
    }
    .hero-item--desc {
        margin-bottom: var(--space-lg);
        font-size: var(--fs-xl);
        overflow: hidden;
    }
}

.service--section {
    background-image: url("../media/--services/services-bg.webp");
    background-size: cover;
    background-position: center;
    position: relative;
    transition: background-image 0.3s ease-in-out;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #0f3c66, $alpha: 0.7);
        z-index: -1;
    }
    .service--block {
        color: var(--white);
    }
    .service--link {
        .arrow {
            opacity: 0;
            transition: $transition;
        }
        &:hover {
            .arrow {
                opacity: 1;
            }
        }
    }
}

.calculator--section {
    position: relative;
    padding: 50px 0 0;
    z-index: 1;
    &::before {
        content: "";
        border: 1px solid rgba($color: #0f3c66, $alpha: 0.2);
        position: absolute;
        width: 100%;
        height: calc(100% - 120px);
        top: 120px;
        left: 0;
        z-index: -1;
    }
}

.news--section {
    .news--section-start {
        background-color: var(--white);
    }
    .news--section-end {
        position: relative;
        padding-bottom: 100px;
        &::before {
            content: "";
            height: 70%;
            bottom: 0;
            left: 0;
            width: 100%;
            position: absolute;
            background-color: var(--light);
        }
    }
}

.news--item {
    .news--label {
        display: inline-block;
        padding: 5px 30px;
        color: white;
        font-size: var(--fs-lg);
        font-weight: 500;
        clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    }
}

.news-item--large {
    .news--content {
        margin-top: 25px;
        .news--title {
            a {
                color: var(--secondary);
                &:hover {
                    color: var(--primary);
                }
            }
        }
        .news--share {
            color: var(--dark);
        }
        .news--desc {
            color: var(--dark);
        }
    }
}

.backtotop {
    background-color: transparent;
    padding: 0;
    border: 0;
    font-weight: 700;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    .arrow {
        width: 80px;
        height: 80px;
        background-color: var(--light);
        color: var(--primary);
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        transition: $transition;
    }
    &:hover {
        .arrow {
            background-color: var(--dark-gray);
            color: var(--white);
        }
    }
}

.LoadingSpinner {
    background-color: rgba($color: #fff, $alpha: 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.loader {
    width: 32px;
    aspect-ratio: 1;
    --_g: no-repeat radial-gradient(farthest-side, var(--secondary) 90%, #0000);
    background: var(--_g), var(--_g), var(--_g), var(--_g);
    background-size: 40% 40%;
    animation: l46 1s infinite;
}

@keyframes l46 {
    0% {
        background-position:
            0 0,
            100% 0,
            100% 100%,
            0 100%;
    }
    40%,
    50% {
        background-position:
            100% 100%,
            100% 0,
            0 0,
            0 100%;
    }
    90%,
    100% {
        background-position:
            100% 100%,
            0 100%,
            0 0,
            100% 0;
    }
}

.masked-image {
    position: relative;
    max-width: 522px;
    max-height: 522px;
    img:not(.path) {
        aspect-ratio: 1/1;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 25%, 0% 118%);
        clip-path: polygon(0 0, 100% 0, 100% 25%, 0% 118%);
    }
    img,
    svg {
        transform: scaleX(-1);
    }
}

.blur-image {
    .dublicated {
        position: relative;
        img {
            opacity: 0.5;
        }
        &::before {
            content: "";
            background-image: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0.45),
                rgba(255, 255, 255, 0.87),
                rgba(255, 255, 255, 1)
            );
            position: absolute;
            left: 0;
            top: -0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
}

.angled-container {
    position: relative;
    width: 217.9px;
    height: 592.67px;
    clip-path: polygon(50px 0%, 100% 0%, 167.9px 100%, 0% 100%);
    transform: skew(-20deg);
    overflow: hidden;
    .image-wrapper {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
    }
}

.parallelogram--item {
    position: relative;
    width: 180px;
    height: 300px;
    clip-path: polygon(40px 0%, 100% 0%, 140px 100%, 0% 100%);
    transform: skew(-20deg);
    overflow: hidden;
}

.page-bg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.sidebar--list {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--white);
    a {
        position: relative;
        display: flex;
        gap: 5px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: var(--fs-lg);
        &.active {
            color: var(--secondary);
            font-weight: 700;
        }
        &:hover {
            color: var(--secondary);
        }
        &::before {
            content: ">";
            display: block;
        }
    }
}

.sidebar--list-1 {
    a {
        &.active,
        &:hover {
            color: var(--secondary);
        }
    }
}

.employee--item {
    .employee--img img {
        aspect-ratio: 12 / 9.63;
    }
}

.icon-lg {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-xl {
    width: 80px;
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skew--item {
    position: relative;
    padding: 4rem 2rem 2rem;
    margin: 4rem;
    transition: $transition;
    &:hover {
        img {
            filter: brightness(0) invert(1);
        }
        color: var(--white);
        &::before {
            background-color: var(--primary);
        }
    }
    img {
        transition: $transition;
    }
    span {
        line-height: 60px;
        transition: $transition;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 120%; // A bit extra width to cover slant
        height: 100%;
        background-color: var(--light);
        transform: skew(-8deg);
        transform-origin: top left;
        z-index: -1;
        transition: $transition;
    }
}

.page-content {
    span,
    p,
    ul > li,
    a,
    strong {
        line-height: 30px;
        font-size: var(--fs-lg);
    }
}

.page-content ul li:not(.nav-item) {
    margin-bottom: 10px;
}

.border--item {
    position: relative;
    padding: 0 50px 40px;
    z-index: 3;
    .image {
        margin-bottom: 25px;
        img {
            background-color: var(--white);
            position: relative;
            z-index: 2;
            height: 100px;
            width: 313px;
            object-fit: contain;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0 auto;
        }
    }
    &::before {
        content: "";
        border: 1px solid rgba(15, 60, 102, 0.2);
        position: absolute;
        width: 100%;
        height: calc(100% - 50px);
        top: 50px;
        left: 0;
        z-index: -1;
    }
}

.top-25 {
    top: 25%;
}

/* ====== ✅ Responsive Utilities ====== */

@media (min-width: 992px) {
    body {
        zoom: 0.6;
    }
    .container-fluid {
        padding-left: 65px;
        padding-right: 65px;
    }
    .w-lg-auto {
        width: auto !important;
    }
    .pt-lg-xl {
        padding-top: var(--space-xl);
    }
    .dropdown-menu-hover {
        display: block;
        left: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
    }
    .dropdown:hover .dropdown-menu-hover {
        opacity: 1;
        visibility: visible;
    }
    .navbar .nav-item:not(:last-child) .nav-link {
        border-right: 1px solid var(--gray);
        margin-right: 30px;
        padding-right: 30px;
    }
    .service--section {
        min-height: 90vh;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #0f3c66, $alpha: 0.7);
            z-index: -1;
        }
        .service--block {
            position: relative;
            height: 100%;
            min-height: 90vh;
            color: var(--primary);
            display: flex;
            flex-direction: column;
            &::before {
                background-image: linear-gradient(to bottom, #eceef3 50%, rgba(236, 238, 243, 0.6));
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: "";
                z-index: -1;
            }
            .service--block-img {
                height: 50%;
                background-size: cover;
                position: relative;
                -webkit-mask-image: linear-gradient(to bottom, transparent 0%, #eceef3 30%, #eceef3 100%);
                mask-image: linear-gradient(to bottom, transparent 0%, #eceef3 30%, #eceef3 100%);
            }
        }
    }
    .news-item--large {
        .news--content {
            margin-top: 0;
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 0;
            .news--title {
                a {
                    color: var(--secondary);
                    &:hover {
                        color: var(--white);
                    }
                }
            }
            .news--share {
                color: var(--white);
                &:hover {
                    color: var(--white);
                }
            }
            .news--desc {
                color: var(--white);
            }
        }
    }
    .sidebar--wrapper {
        max-width: 380px;
    }

    .faq--img {
        margin-top: -19%;
    }
}

@media (min-width: 1200px) {
    body {
        zoom: 0.75;
    }
}

@media (min-width: 1330px) {
    body {
        zoom: 0.85;
    }
    .container-fluid {
        padding-left: 65px;
        padding-right: 65px;
    }
}

@media (min-width: 1600px) {
    body {
        zoom: 0.95;
    }
}

@media (min-width: 1920px) {
    body {
        zoom: 1;
    }
}

@media (max-width: 991.99px) {
    .sidebar--wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        .sidebar--list {
            padding-top: 20px;
            padding-bottom: 20px;
            a {
                white-space: nowrap;
            }
        }
    }
    .sidebar--wrapper::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 767.99px) {
    :root {
        @each $size, $value in (xs: 11px, sm: 12px, rg: 13px, md: 14px, lg: 16px, xl: 22px, xxl: 36px) {
            --fs-#{$size}: #{$value};
        }
    }
    .fs-36 {
        font-size: 24px;
    }
}

@media (max-width: 575.99px) {
    :root {
        @each $size, $value in (xs: 10px, sm: 12px, rg: 12px, md: 14px, lg: 16px, xl: 20px, xxl: 24px) {
            --fs-#{$size}: #{$value};
        }
    }
    .fs-36 {
        font-size: 22px;
    }
    // Spacing
    :root {
        @each $size, $value in (md: 25px, lg: 35px, xl: 50px) {
            --space-#{$size}: #{$value};
        }
    }
    .btn,
    button {
        font-size: var(--fs-rg);
    }
    .main-btn {
        min-width: auto;
    }
    .offcanvas.menu-offcanvas {
        width: 290px;
    }
    .navbar-brand img {
        width: 150px;
        height: auto;
    }
    footer .hotline {
        font-size: var(--fs-xxl);
    }
    .section-title img {
        width: 40px;
    }
    .hero--section .slick--controls .slick-arrows {
        transform: scale(0.5);
    }
    .service--link > svg {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
    .slick--flex .slick-slide:not(:last-child) {
        margin: 0;
    }
}
